.file-transfer-container {
    position: absolute;
    left: 300px;
    top: 0px;
    width: calc(100% - 284px);
    height: 100vh;
    background-color: #ffffff00;
}

.file-input {
    margin: 0px auto;
    display: block;
    margin-top: 450px;
}
