@import '../styles/constants.scss';

.messaging-submit-button {
    display: none;
}

.messaging-inbox {
    background-color: #1a253f;
    position: absolute;
    bottom: 40px;
    left: 300px;
    width: calc(100% - 300px);
    height: 150px;
    overflow: scroll;
}

.messaging-container {
    position: absolute;
    bottom: 0px;
    left: 300px;
    width: calc(100% - 300px);
}

.messaging-connecting-msg {
    background-color: $color-text-background;
    padding: $margin-default;
    position: relative;
    top: 16px;
    color: $color-text;
    padding-left: 20px;
    font-style: italic;
}
