.custom-button {
    height: 40px;
    width: 200px;
    color: #ffffff;
    background-color: #F4976C;
    font-size: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 10px auto 10px auto;
    display: block;

    transition: border-radius 0.3s ease;
    -webkit-transition: border-radius 0.3s ease;
    -moz-transition: border-radius 0.3s ease;
    -o-transition: border-radius 0.3s ease;
}

.disabled-button {
    height: 40px;
    width: 200px;
    color: #ffffff;
    background-color: #F4976C;
    font-size: 15px;
    outline: none;
    border: none;
    border-radius: 75px;
    margin: 10px auto 10px auto;
    display: block;
}

.custom-button:hover {
    border-radius: 75px;
}
