@import '../styles/constants';

.custom-button {
    height: 40px;
    width: 200px;
    color: $color-white;
    background-color: $color-background-red;
    font-size: $font-default-size;
    outline: none;
    border: none;
    cursor: pointer;
    margin: $margin-default auto $margin-default auto;
    display: block;

    transition: border-radius $transition-speed ease;
    -webkit-transition: border-radius $transition-speed ease;
    -moz-transition: border-radius $transition-speed ease;
    -o-transition: border-radius $transition-speed ease;
}

.disabled-button {
    height: 40px;
    width: 200px;
    color: $color-white;
    background-color: $color-background-red;
    font-size: $font-default-size;
    outline: none;
    border: none;
    border-radius: $border-radius-default;
    margin: $margin-default auto $margin-default auto;
    display: block;
}

.custom-button:hover {
    border-radius: $border-radius-default;
}
