@import '../styles/constants.scss';

.left-tab-bar-container {
    width: 300px;
    background-color: $color-left-menu-background;
    height: 100vh;
    float: left;
}

.left-tab-bar-logo-text {
    font-size: 25px;
    font-weight: bold;
    color: $color-logo-text;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: none;

    -webkit-transition: letter-spacing $transition-speed ease;
    -moz-transition: letter-spacing $transition-speed ease;
    -o-transition: letter-spacing $transition-speed ease;
    transition: letter-spacing $transition-speed ease;
}

.left-tab-bar-logo-text:hover {
    letter-spacing: 5px;
}

.left-tab-bar-header {
    font-size: 18px;
    color: #f0ebf4;
    font-weight: bold;
    padding-left: 20px;
    clear: both;
    opacity: 0.5;
}
