@import '../styles/constants.scss';

.main-welcome-container {
    width: calc(100% - 300px);
    float: left;
    position: relative;
}

.main-welcome-msg {
    font-size: 30px;
    margin: 0px;
    margin-left: 40px;
    margin-top: 60px;
    float: left;
}

.main-welcome-msg-username {
    float: left;
    margin: 0px;
    font-size: 30px;
    margin-top: 60px;
    margin-left: $margin-default;
    font-weight: bold;
}

.main-sub-msg {
    margin: 0px;
    margin-top: 50px;
    margin-left: 40px;
}

.main-step-container {
    margin-top: 20px;
}

.main-step-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $color-background-red;
    float: left;
    margin-left: 40px;
}

.main-step-number {
    color: $color-white;
    text-align: center;
    margin: 0px;
    margin-top: 4px;
}

.main-step-inst {
    margin: 0px;
    margin-top: 4px;
    margin-left: $margin-default;
    float: left;
}
