.user-container {
    width: 80%;
    height: 30px;
    padding: 10px;
    margin: 0px auto;
    cursor: pointer;

    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.user-container-current {
    background-color: #232E51;
}

.user-container-initial {
    opacity: 0.5;
}

.user-container:hover {
    box-shadow: 5px 5px 2px #232E51;
}

.user-display-light {
    font-style: italic;
}

.user-display-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    float: left;
    opacity: 0.7;
}

.user-display-text {
    float: left;
    margin: 0px;
    margin-top: 4px;
    margin-left: 10px;
    color: #FBFBF2;
}

.user-display-status {
    float: right;
    margin: 0px;
    opacity: 0.5;
    margin-top: 4px;
    color: #FBFBF2;
}

.user-container-x-container {
    float: right;
    color: #FBFBF2;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    border-radius: 100%;
    padding-top: 4px;
    margin-top: 3px;
}

.user-container-x-container:hover {
    background-color: #f4976c;
    color: #303C6C;
}