@import '../styles/constants.scss';

$user-container-color: #232e51;

.user-container {
    width: 80%;
    height: 30px;
    padding: 10px;
    margin: 0px auto;
    cursor: pointer;

    -webkit-transition: box-shadow $transition-speed ease;
    -moz-transition: box-shadow $transition-speed ease;
    -o-transition: box-shadow $transition-speed ease;
    transition: box-shadow $transition-speed ease;
}

.user-container-current {
    background-color: $user-container-color;
}

.user-container-initial {
    opacity: 0.5;
}

.user-container:hover {
    box-shadow: 5px 5px 2px $user-container-color;
}

.user-display-light {
    font-style: italic;
}

.user-display-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    float: left;
    opacity: 0.7;
}

.user-display-text {
    float: left;
    margin: 0px;
    margin-top: 4px;
    margin-left: $margin-default;
    color: $color-text;
}

.user-display-status {
    float: right;
    margin: 0px;
    opacity: 0.5;
    margin-top: 4px;
    color: $color-text;
}

.user-container-x-container {
    float: right;
    color: $color-text;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    border-radius: 100%;
    padding-top: 4px;
    margin-top: 3px;
}

.user-container-x-container:hover {
    background-color: $color-background-red;
    color: $color-left-menu-background;
}
