.left-tab-bar-container {
    width: 300px;
    background-color: #eaeaea;
    height: 100vh;
    float: left;
}

.left-tab-bar-header {
    font-size: 18px;
    color: #3e3e3e;
    font-weight: bold;
    padding-left: 20px;
}