.standard-container-padding {
    padding: 20px;
}

.home-container {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -250px;
    text-align: center;
}

.home-logo {
    width: 100px;
    display: block;
    margin: 0px auto;
}

.home-logo-text {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}

.home-blurb {
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mobile-container {
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: 500px) {
    .home-container {
        visibility: hidden;
        display: none;
    }

    .mobile-container {
        visibility: visible;
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
        text-align: center;
    }
}
