.room-preconnection-container {
    float: left;
    width: calc(100% - 300px);
    display: block;
}

.room-preconnection-receipient-circle-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    margin-top: 200px;
}

.room-preconnection-receipient-username {
    text-align: center;
    font-weight: bold;
}

.room-preconnection-connection-msg {
    text-align: center;
}