.room-connection-container {
    float: left;
    width: calc(100% - 300px);
}

.room-receipient-circle-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    margin-top: 200px;
}

.room-receipient-username {
    text-align: center;
    font-weight: bold;
}

.room-connection-msg {
    text-align: center;
}

.room-connected-container {
    
}

.room-connected-receipient-circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    float: left;
    opacity: 0.7;
}

.room-connected-receipient-username {
    float: left;
    margin: 0px;
    margin-top: 4px;
    margin-left: 10px;
}