.user-container {
    width: 80%;
    height: 30px;
    padding: 10px;
    margin: 0px auto;
    cursor: pointer;

    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.user-container-current {
    background-color: #D9D9D9;
    opacity: 0.3;
}

.user-container:hover {
    box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
}

.user-display-light {
    font-style: italic;
}

.user-display-icon {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    float: left;
    opacity: 0.7;
}

.user-display-text {
    float: left;
    margin: 0px;
    margin-top: 4px;
    margin-left: 10px;
}

.user-display-status {
    float: right;
    margin: 0px;
    opacity: 0.5;
    margin-top: 4px;
}