.home-container {
    text-align: center;
    padding-top: 50px;
}

.home-logo {
    width: 70px;
    display: block;
    margin: 0px auto;
}

.home-logo-text {
    font-size: 30px;
    font-weight: bold;
    margin: 0px;
}

.home-blurb {
    font-size: 15px;
    margin: 0px;
    margin-top: 10px;
}

.or-break-line {
    width: 350px;
    margin: 0px auto;
    margin-top: 20px;
}

.or-msg {
    width: 30px;
    font-size: 18px;
    color: #c4c4c4;
    float: left;
    margin: 0px;
    margin-top: -12px;
}

.break-line {
    float: left;
    height: 2px;
    background-color: #c4c4c4;
    width: 160px;
}
