body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
    font-family: 'Quicksand', sans-serif;
}

button {
    font-family: 'Quicksand', sans-serif;
}

a {
    font-family: 'Quicksand', sans-serif;
}

input {
    font-family: 'Quicksand', sans-serif;
}

textarea {
    font-family: 'Quicksand', sans-serif;
}

.link {
    color: #4585bf;
    text-decoration: none;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
}

.link:hover {
    border-bottom: 1.5px solid #4585bf;
}
