// colors
$color-white: #ffffff;
$color-background-red: #f4976c;
$color-text-background: #232e51;
$color-text: #fbfbf2;
$color-left-menu-background: #303c6c;
$color-logo-text: #f0ebf4;
$color-button-hover: #3e3e3e;
$color-accept: #46aa71;

// font
$font-default-size: 15px;

// transition
$transition-speed: 0.3s;

// margin
$margin-default: 10px;

// border-radius
$border-radius-default: 75px;
